body {
    background-color: aliceblue;
}

.urun {
    background-color: rgba(128, 128, 128, 0.324);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    border-radius: 20px;
}

select:focus {
    outline: none;
}
.navbar-nav {
    flex: 1;
    justify-content: center;

}
.navbar {
    z-index: 3;
    width: 100%;
    background-color: aliceblue;
}
#nav-2 {
    z-index: 2;
}

.nav-item {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.nav-link:hover {
    color: #00d1cd;
}
.urunler {
    display: flex;
    flex-wrap: wrap;
  }
  
  .urun {
    margin: 10px;
    padding: 15px;
    border: 2px solid rgba(128, 128, 128, 0.155);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* X, Y, Blur, Spread, Color */
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 30px;
    
  }
  .col.urun:hover {
    box-shadow: 0 8px 16px #00d1ce3a;
    border: 2px solid #00d1ce97;
  }
  
  .urun-adi {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .urun-fiyati {
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.627);
    border-radius: 0 0 25px 25px;
    margin-left: 33px;
    color: aliceblue;
    margin-top: 3%;
    width: 88%;
    scale: 1.2;
    height: 11%;

  }
  
  #fiyat-filtresi {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #00d1cd;
    border-radius: 30px;
  }



  #filter-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0); /* Gölge ekleyin, isteğe bağlı */
}
.custom-button {
    border-radius: 30px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid grey; /* Alt kenarı daha kalın yap */
    transition: 0.5s;
}

.custom-button:hover {
    border-radius: 10px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid #00d1cd; /* Alt kenarı daha kalın yap */
}

.custom-button-2 {

    border-radius: 30px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #00d1cd; /* Alt kenarı daha kalın yap */
    transition: 0.5s;
}
.custom-button-2:hover {
    color: #00d1cd;
    border-radius: 30px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #00d1cd; /* Alt kenarı daha kalın yap */
    transition: 0.5s;
}

.custom-button-3 {
    border-radius: 10px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2.5px solid #00d1cd; /* Alt kenarı daha kalın yap */
    transition: 0.5s;
}

.custom-dropdown {
    border: 1px solid #00d1cd;
    border-radius: 15px;
    max-height: 190px;
}



  